html, body {
    margin: 0;
    padding: 0;
}

.main-content {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.parent {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
.child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.colon-divider {
    padding: none;
    margin: 0%;
}
.day-and-month {
    font-size: 4em;
}
.time {
    font-size: 12em;
}

.time-of-day {
    font-size: 6em;
}

.seconds {
    font-size: 6em;
}

.hello {
    padding-bottom: 1em;
}


